/* color palette - these colors will be the color swatches of the Colors section */

$color-1: #003478; /*/ Blue Pantone 294*/
$color-2: #414042; /*/ Dark Grey*/
$color-3: #f7f7f7; /*/ Off-white*/
$color-4: #000000; /*/ Black accent*/
$color-5: #43802a; /*/ accent green*/
$success: #00a3e0; /* Light Blue Pantone 299 */
$alert: #e03c31; /* Light red Pantone 179 */
