//header partial

$zenLogo:url('../../src/assets/branding/logo-version-B.jpg'); /*/ Zen Garden Branding*/

header {
  background-color: $color-2;
}

.cd-logo {
    background-image: $zenLogo;
    width: 120px;
  }